# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
config
logs
options.txt
saves
usercache.json
usernamecache.json
*.pyc
scripts/config.py